In [2]:
import numpy as np
import pandas as pd

RuntimeError: module was compiled against NumPy C-API version 0x10 (NumPy 1.23) but the running NumPy has C-API version 0xf. Check the section C-API incompatibility at the Troubleshooting ImportError section at https://numpy.org/devdocs/user/troubleshooting-importerror.html#c-api-incompatibility for indications on how to solve this problem.

In [5]:
df = pd.read_csv('jeju_final.csv')

In [6]:
df.columns

Index(['id', 'placeID', 'MCT_NM', 'MCT_NAVER_NAME', 'UE_CNT_GRP', 'UE_AMT_GRP',
       'MON_UE_CNT_RAT', 'TUE_UE_CNT_RAT', 'WED_UE_CNT_RAT', 'THU_UE_CNT_RAT',
       'FRI_UE_CNT_RAT', 'SAT_UE_CNT_RAT', 'SUN_UE_CNT_RAT', 'peak_day',
       'day_type', 'weekend_ratio', 'weekday_ratio', 'day_entropy', 'OP_YMD',
       'HR_5_11_UE_CNT_RAT', 'HR_12_13_UE_CNT_RAT', 'HR_14_17_UE_CNT_RAT',
       'HR_12_17_UE_CNT_RAT', 'HR_18_22_UE_CNT_RAT', 'HR_23_4_UE_CNT_RAT',
       'peak_time', 'peak_ratio', 'peak_min_diff', 'top2_gap', 'Type',
       'UE_AMT_PER_TRSN_GRP', 'LOCAL_UE_CNT_RAT', 'RC_M12_MAL_CUS_CNT_RAT',
       'RC_M12_FME_CUS_CNT_RAT', 'RC_M12_AGE_UND_20_CUS_CNT_RAT',
       'RC_M12_AGE_30_CUS_CNT_RAT', 'RC_M12_AGE_40_CUS_CNT_RAT',
       'RC_M12_AGE_50_CUS_CNT_RAT', 'RC_M12_AGE_OVR_60_CUS_CNT_RAT',
       'main_age_group', 'age_entropy', 'young_ratio', 'old_ratio',
       'age_concentration', 'expected_age', 'MCT_TYPE', 'MCT_NAVER_TYPE',
       'ADDR', 'WT', 'EWT', 'CD', 'NAVER_ADDR', 'PHONE', 'AMENITY', 'PAYMENT',
       'TOTAL_REVIEW_NUM', 'TOTAL_BLOG_REVIEW_NUM', 'BOSS_TIP', 'AUTH_TITLE',
       'crawling_main_ver', 'crawling_info_ver', 'crawling_review_ver',
       'crawling_menu_ver', 'AUTH_CONTENT', 'keywords', 'keywords_embeddings',
       'original_type', 'wheelchair_access', 'Closed', 'Latitude', 'Longitude',
       'keyword', 'positive_keyword', 'negative_keyword'],
      dtype='object')

In [7]:
delete_col = ['MCT_NAVER_TYPE', 'EWT', 'CD', 'TOTAL_REVIEW_NUM', 'TOTAL_BLOG_REVIEW_NUM', 
             'AUTH_TITLE', 'crawling_main_ver', 'crawling_info_ver', 'crawling_review_ver',
             'crawling_menu_ver']

In [8]:
delete_col = [
    'MCT_NAVER_TYPE', 'EWT', 'CD', 'TOTAL_REVIEW_NUM', 'TOTAL_BLOG_REVIEW_NUM', 
    'AUTH_TITLE', 'crawling_main_ver', 'crawling_info_ver', 
    'crawling_review_ver', 'crawling_menu_ver'
]

# 컬럼이 실제로 존재할 때만 삭제 (에러 방지)
cols_to_drop = [col for col in delete_col if col in df.columns]
df = df.drop(columns=cols_to_drop)

In [9]:
df.columns

Index(['id', 'placeID', 'MCT_NM', 'MCT_NAVER_NAME', 'UE_CNT_GRP', 'UE_AMT_GRP',
       'MON_UE_CNT_RAT', 'TUE_UE_CNT_RAT', 'WED_UE_CNT_RAT', 'THU_UE_CNT_RAT',
       'FRI_UE_CNT_RAT', 'SAT_UE_CNT_RAT', 'SUN_UE_CNT_RAT', 'peak_day',
       'day_type', 'weekend_ratio', 'weekday_ratio', 'day_entropy', 'OP_YMD',
       'HR_5_11_UE_CNT_RAT', 'HR_12_13_UE_CNT_RAT', 'HR_14_17_UE_CNT_RAT',
       'HR_12_17_UE_CNT_RAT', 'HR_18_22_UE_CNT_RAT', 'HR_23_4_UE_CNT_RAT',
       'peak_time', 'peak_ratio', 'peak_min_diff', 'top2_gap', 'Type',
       'UE_AMT_PER_TRSN_GRP', 'LOCAL_UE_CNT_RAT', 'RC_M12_MAL_CUS_CNT_RAT',
       'RC_M12_FME_CUS_CNT_RAT', 'RC_M12_AGE_UND_20_CUS_CNT_RAT',
       'RC_M12_AGE_30_CUS_CNT_RAT', 'RC_M12_AGE_40_CUS_CNT_RAT',
       'RC_M12_AGE_50_CUS_CNT_RAT', 'RC_M12_AGE_OVR_60_CUS_CNT_RAT',
       'main_age_group', 'age_entropy', 'young_ratio', 'old_ratio',
       'age_concentration', 'expected_age', 'MCT_TYPE', 'ADDR', 'WT',
       'NAVER_ADDR', 'PHONE', 'AMENITY', 'PAYMENT', 'BOSS_TIP', 'AUTH_CONTENT',
       'keywords', 'keywords_embeddings', 'original_type', 'wheelchair_access',
       'Closed', 'Latitude', 'Longitude', 'keyword', 'positive_keyword',
       'negative_keyword'],
      dtype='object')

# 종속변수 처리(UE_AMT_GRP)

In [10]:
# 유일한 값(클래스) 리스트
unique_values = df['UE_AMT_GRP'].unique()
print(unique_values)

# 값별 개수(빈도수) 보기
value_counts = df['UE_AMT_GRP'].value_counts()
print(value_counts)

['1_상위 10% 이하' '5_75~90%' '2_10~25%' '4_50~75%' '6_90% 초과' '3_25~50%']
UE_AMT_GRP
2_10~25%       1395
3_25~50%       1373
1_상위 10% 이하    1203
4_50~75%       1045
5_75~90%        539
6_90% 초과        323
Name: count, dtype: int64

In [12]:
mapping = {
    '1_상위 10% 이하': 0,
    '2_10~25%': 1,
    '3_25~50%': 2,
    '4_50~75%': 3,
    '5_75~90%': 4,
    '6_90% 초과': 5
}

In [13]:
df['UE_AMT_GRP_encoded'] = df['UE_AMT_GRP'].map(mapping)

In [14]:
df['UE_AMT_GRP_encoded']

0       0
1       4
2       1
3       3
4       4
       ..
5873    4
5874    1
5875    1
5876    0
5877    2
Name: UE_AMT_GRP_encoded, Length: 5878, dtype: int64

# peak_day

In [15]:
# 유일한 값(클래스) 리스트
unique_values = df['peak_day'].unique()
print(unique_values)

# 값별 개수(빈도수) 보기
value_counts = df['peak_day'].value_counts()
print(value_counts)

['월' '토' '목' '금' '일' '화' '수']
peak_day
토    1517
금     894
목     764
일     722
월     709
화     649
수     623
Name: count, dtype: int64

In [49]:
# 직접 매핑
mapping = {
    '월': 0,
    '화': 1,
    '수': 2,
    '목': 3,
    '금': 4,
    '토': 5,
    '일': 6
}

# 변환
df['peak_day_label'] = df['peak_day'].map(mapping)

In [50]:
df.columns

Index(['id', 'placeID', 'MCT_NM', 'MCT_NAVER_NAME', 'UE_CNT_GRP', 'UE_AMT_GRP',
       'MON_UE_CNT_RAT', 'TUE_UE_CNT_RAT', 'WED_UE_CNT_RAT', 'THU_UE_CNT_RAT',
       ...
       'MCT_TYPE_일식', 'MCT_TYPE_주점/술집', 'MCT_TYPE_죽', 'MCT_TYPE_중식',
       'MCT_TYPE_카페/디저트', 'MCT_TYPE_탕/국/면류', 'MCT_TYPE_탕/찌개', 'MCT_TYPE_한식',
       'MCT_TYPE_해산물', 'peak_day_label'],
      dtype='object', length=104)

In [51]:
def move_columns_after(df, move_cols, target_col):
    cols = df.columns.tolist()
    
    # 1. 옮길 컬럼 제거
    for col in move_cols:
        cols.remove(col)
    
    # 2. target_col 위치 찾기
    insert_idx = cols.index(target_col) + 1
    
    # 3. target_col 뒤에 move_cols 삽입
    new_cols = cols[:insert_idx] + move_cols + cols[insert_idx:]
    
    # 4. 재정렬된 DataFrame 반환
    return df[new_cols]

# 예시
move_cols = ['peak_day_label']
target_col = 'UE_AMT_GRP_encoded'

df = move_columns_after(df, move_cols, target_col)

In [52]:
df.columns

Index(['id', 'placeID', 'MCT_NM', 'MCT_NAVER_NAME', 'UE_CNT_GRP', 'UE_AMT_GRP',
       'MON_UE_CNT_RAT', 'TUE_UE_CNT_RAT', 'WED_UE_CNT_RAT', 'THU_UE_CNT_RAT',
       ...
       'MCT_TYPE_육류구이/고기', 'MCT_TYPE_일식', 'MCT_TYPE_주점/술집', 'MCT_TYPE_죽',
       'MCT_TYPE_중식', 'MCT_TYPE_카페/디저트', 'MCT_TYPE_탕/국/면류', 'MCT_TYPE_탕/찌개',
       'MCT_TYPE_한식', 'MCT_TYPE_해산물'],
      dtype='object', length=104)

In [17]:
# 원핫인코딩
peak_day_dummies = pd.get_dummies(df['peak_day'], prefix='peak_day')

# 원래 df에 붙이기
df = pd.concat([df, peak_day_dummies], axis=1)

In [20]:
df['peak_day_화']

0       False
1       False
2       False
3       False
4       False
        ...
5873    False
5874    False
5875    False
5876    False
5877    False
Name: peak_day_화, Length: 5878, dtype: bool

# day_type

In [21]:
# 유일한 값(클래스) 리스트
unique_values = df['day_type'].unique()
print(unique_values)

['weekday' 'weekend']

In [22]:
# 직접 매핑
day_type_mapping = {
    'weekday': 0,
    'weekend': 1
}

# 변환
df['day_type_encoded'] = df['day_type'].map(day_type_mapping)

# peak_time

In [24]:
# 유일한 값(클래스) 리스트
unique_values = df['peak_time'].unique()
print(unique_values)

['HR_14_17_UE_CNT_RAT' 'HR_5_11_UE_CNT_RAT' 'HR_18_22_UE_CNT_RAT'
 'HR_12_13_UE_CNT_RAT' 'HR_23_4_UE_CNT_RAT']

In [28]:
df['peak_time']

0       HR_14_17_UE_CNT_RAT
1       HR_14_17_UE_CNT_RAT
2        HR_5_11_UE_CNT_RAT
3       HR_18_22_UE_CNT_RAT
4       HR_18_22_UE_CNT_RAT
               ...
5873    HR_18_22_UE_CNT_RAT
5874    HR_12_13_UE_CNT_RAT
5875    HR_12_13_UE_CNT_RAT
5876    HR_18_22_UE_CNT_RAT
5877    HR_18_22_UE_CNT_RAT
Name: peak_time, Length: 5878, dtype: object

In [29]:
# 원핫인코딩
peak_time_dummies = pd.get_dummies(df['peak_time'], prefix='peak_time')

# 원래 df에 붙이기
df = pd.concat([df, peak_time_dummies], axis=1)

In [30]:
df.columns

Index(['id', 'placeID', 'MCT_NM', 'MCT_NAVER_NAME', 'UE_CNT_GRP', 'UE_AMT_GRP',
       'MON_UE_CNT_RAT', 'TUE_UE_CNT_RAT', 'WED_UE_CNT_RAT', 'THU_UE_CNT_RAT',
       'FRI_UE_CNT_RAT', 'SAT_UE_CNT_RAT', 'SUN_UE_CNT_RAT', 'peak_day',
       'day_type', 'weekend_ratio', 'weekday_ratio', 'day_entropy', 'OP_YMD',
       'HR_5_11_UE_CNT_RAT', 'HR_12_13_UE_CNT_RAT', 'HR_14_17_UE_CNT_RAT',
       'HR_12_17_UE_CNT_RAT', 'HR_18_22_UE_CNT_RAT', 'HR_23_4_UE_CNT_RAT',
       'peak_time', 'peak_ratio', 'peak_min_diff', 'top2_gap', 'Type',
       'UE_AMT_PER_TRSN_GRP', 'LOCAL_UE_CNT_RAT', 'RC_M12_MAL_CUS_CNT_RAT',
       'RC_M12_FME_CUS_CNT_RAT', 'RC_M12_AGE_UND_20_CUS_CNT_RAT',
       'RC_M12_AGE_30_CUS_CNT_RAT', 'RC_M12_AGE_40_CUS_CNT_RAT',
       'RC_M12_AGE_50_CUS_CNT_RAT', 'RC_M12_AGE_OVR_60_CUS_CNT_RAT',
       'main_age_group', 'age_entropy', 'young_ratio', 'old_ratio',
       'age_concentration', 'expected_age', 'MCT_TYPE', 'ADDR', 'WT',
       'NAVER_ADDR', 'PHONE', 'AMENITY', 'PAYMENT', 'BOSS_TIP', 'AUTH_CONTENT',
       'keywords', 'keywords_embeddings', 'original_type', 'wheelchair_access',
       'Closed', 'Latitude', 'Longitude', 'keyword', 'positive_keyword',
       'negative_keyword', 'UE_AMT_GRP_encoded', 'peak_day_금', 'peak_day_목',
       'peak_day_수', 'peak_day_월', 'peak_day_일', 'peak_day_토', 'peak_day_화',
       'day_type_encoded', 'peak_time_HR_12_13_UE_CNT_RAT',
       'peak_time_HR_14_17_UE_CNT_RAT', 'peak_time_HR_18_22_UE_CNT_RAT',
       'peak_time_HR_23_4_UE_CNT_RAT', 'peak_time_HR_5_11_UE_CNT_RAT'],
      dtype='object')

In [54]:
# 직접 매핑
mapping = {
    'HR_5_11_UE_CNT_RAT': 0,
    'HR_12_13_UE_CNT_RAT': 1,
    'HR_14_17_UE_CNT_RAT': 2,
    'HR_18_22_UE_CNT_RAT': 3,
    'HR_23_4_UE_CNT_RAT': 4
}

# 변환
df.loc[:, 'peak_time_label'] = df['peak_time'].map(mapping)

In [55]:
df.columns

Index(['id', 'placeID', 'MCT_NM', 'MCT_NAVER_NAME', 'UE_CNT_GRP', 'UE_AMT_GRP',
       'MON_UE_CNT_RAT', 'TUE_UE_CNT_RAT', 'WED_UE_CNT_RAT', 'THU_UE_CNT_RAT',
       ...
       'MCT_TYPE_일식', 'MCT_TYPE_주점/술집', 'MCT_TYPE_죽', 'MCT_TYPE_중식',
       'MCT_TYPE_카페/디저트', 'MCT_TYPE_탕/국/면류', 'MCT_TYPE_탕/찌개', 'MCT_TYPE_한식',
       'MCT_TYPE_해산물', 'peak_time_label'],
      dtype='object', length=105)

In [67]:
# 예시
move_cols = ['peak_time_label']
target_col = 'peak_time_HR_5_11_UE_CNT_RAT'

df = move_columns_after(df, move_cols, target_col)

# Type -> time_type

In [32]:
rename_mapping = {
    'Type': 'time_type',
}

df = df.rename(columns=rename_mapping)

In [34]:
df.columns

Index(['id', 'placeID', 'MCT_NM', 'MCT_NAVER_NAME', 'UE_CNT_GRP', 'UE_AMT_GRP',
       'MON_UE_CNT_RAT', 'TUE_UE_CNT_RAT', 'WED_UE_CNT_RAT', 'THU_UE_CNT_RAT',
       'FRI_UE_CNT_RAT', 'SAT_UE_CNT_RAT', 'SUN_UE_CNT_RAT', 'peak_day',
       'day_type', 'weekend_ratio', 'weekday_ratio', 'day_entropy', 'OP_YMD',
       'HR_5_11_UE_CNT_RAT', 'HR_12_13_UE_CNT_RAT', 'HR_14_17_UE_CNT_RAT',
       'HR_12_17_UE_CNT_RAT', 'HR_18_22_UE_CNT_RAT', 'HR_23_4_UE_CNT_RAT',
       'peak_time', 'peak_ratio', 'peak_min_diff', 'top2_gap', 'time_type',
       'UE_AMT_PER_TRSN_GRP', 'LOCAL_UE_CNT_RAT', 'RC_M12_MAL_CUS_CNT_RAT',
       'RC_M12_FME_CUS_CNT_RAT', 'RC_M12_AGE_UND_20_CUS_CNT_RAT',
       'RC_M12_AGE_30_CUS_CNT_RAT', 'RC_M12_AGE_40_CUS_CNT_RAT',
       'RC_M12_AGE_50_CUS_CNT_RAT', 'RC_M12_AGE_OVR_60_CUS_CNT_RAT',
       'main_age_group', 'age_entropy', 'young_ratio', 'old_ratio',
       'age_concentration', 'expected_age', 'MCT_TYPE', 'ADDR', 'WT',
       'NAVER_ADDR', 'PHONE', 'AMENITY', 'PAYMENT', 'BOSS_TIP', 'AUTH_CONTENT',
       'keywords', 'keywords_embeddings', 'original_type', 'wheelchair_access',
       'Closed', 'Latitude', 'Longitude', 'keyword', 'positive_keyword',
       'negative_keyword', 'UE_AMT_GRP_encoded', 'peak_day_금', 'peak_day_목',
       'peak_day_수', 'peak_day_월', 'peak_day_일', 'peak_day_토', 'peak_day_화',
       'day_type_encoded', 'peak_time_HR_12_13_UE_CNT_RAT',
       'peak_time_HR_14_17_UE_CNT_RAT', 'peak_time_HR_18_22_UE_CNT_RAT',
       'peak_time_HR_23_4_UE_CNT_RAT', 'peak_time_HR_5_11_UE_CNT_RAT'],
      dtype='object')

In [35]:
# 원핫인코딩
peak_time_dummies = pd.get_dummies(df['time_type'], prefix='time_type')

# 원래 df에 붙이기
df = pd.concat([df, peak_time_dummies], axis=1)

In [36]:
df.columns

Index(['id', 'placeID', 'MCT_NM', 'MCT_NAVER_NAME', 'UE_CNT_GRP', 'UE_AMT_GRP',
       'MON_UE_CNT_RAT', 'TUE_UE_CNT_RAT', 'WED_UE_CNT_RAT', 'THU_UE_CNT_RAT',
       'FRI_UE_CNT_RAT', 'SAT_UE_CNT_RAT', 'SUN_UE_CNT_RAT', 'peak_day',
       'day_type', 'weekend_ratio', 'weekday_ratio', 'day_entropy', 'OP_YMD',
       'HR_5_11_UE_CNT_RAT', 'HR_12_13_UE_CNT_RAT', 'HR_14_17_UE_CNT_RAT',
       'HR_12_17_UE_CNT_RAT', 'HR_18_22_UE_CNT_RAT', 'HR_23_4_UE_CNT_RAT',
       'peak_time', 'peak_ratio', 'peak_min_diff', 'top2_gap', 'time_type',
       'UE_AMT_PER_TRSN_GRP', 'LOCAL_UE_CNT_RAT', 'RC_M12_MAL_CUS_CNT_RAT',
       'RC_M12_FME_CUS_CNT_RAT', 'RC_M12_AGE_UND_20_CUS_CNT_RAT',
       'RC_M12_AGE_30_CUS_CNT_RAT', 'RC_M12_AGE_40_CUS_CNT_RAT',
       'RC_M12_AGE_50_CUS_CNT_RAT', 'RC_M12_AGE_OVR_60_CUS_CNT_RAT',
       'main_age_group', 'age_entropy', 'young_ratio', 'old_ratio',
       'age_concentration', 'expected_age', 'MCT_TYPE', 'ADDR', 'WT',
       'NAVER_ADDR', 'PHONE', 'AMENITY', 'PAYMENT', 'BOSS_TIP', 'AUTH_CONTENT',
       'keywords', 'keywords_embeddings', 'original_type', 'wheelchair_access',
       'Closed', 'Latitude', 'Longitude', 'keyword', 'positive_keyword',
       'negative_keyword', 'UE_AMT_GRP_encoded', 'peak_day_금', 'peak_day_목',
       'peak_day_수', 'peak_day_월', 'peak_day_일', 'peak_day_토', 'peak_day_화',
       'day_type_encoded', 'peak_time_HR_12_13_UE_CNT_RAT',
       'peak_time_HR_14_17_UE_CNT_RAT', 'peak_time_HR_18_22_UE_CNT_RAT',
       'peak_time_HR_23_4_UE_CNT_RAT', 'peak_time_HR_5_11_UE_CNT_RAT',
       'time_type_야간', 'time_type_오전', 'time_type_오후', 'time_type_주간'],
      dtype='object')

In [57]:
# 유일한 값(클래스) 리스트
unique_values = df['time_type'].unique()
print(unique_values)

['주간' '오후' '야간' '오전']

In [58]:
# 직접 매핑
mapping = {
    '주간': 0,
    '오후': 1,
    '야간': 2,
    '오전': 3
}

# 변환
df.loc[:, 'time_type_label'] = df['time_type'].map(mapping)

In [59]:
# 예시
move_cols = ['time_type_label']
target_col = 'peak_time_HR_5_11_UE_CNT_RAT'

df = move_columns_after(df, move_cols, target_col)

# main_age_group

In [37]:
# 원핫인코딩
peak_time_dummies = pd.get_dummies(df['main_age_group'], prefix='main_age_group')

# 원래 df에 붙이기
df = pd.concat([df, peak_time_dummies], axis=1)

In [38]:
df.columns

Index(['id', 'placeID', 'MCT_NM', 'MCT_NAVER_NAME', 'UE_CNT_GRP', 'UE_AMT_GRP',
       'MON_UE_CNT_RAT', 'TUE_UE_CNT_RAT', 'WED_UE_CNT_RAT', 'THU_UE_CNT_RAT',
       'FRI_UE_CNT_RAT', 'SAT_UE_CNT_RAT', 'SUN_UE_CNT_RAT', 'peak_day',
       'day_type', 'weekend_ratio', 'weekday_ratio', 'day_entropy', 'OP_YMD',
       'HR_5_11_UE_CNT_RAT', 'HR_12_13_UE_CNT_RAT', 'HR_14_17_UE_CNT_RAT',
       'HR_12_17_UE_CNT_RAT', 'HR_18_22_UE_CNT_RAT', 'HR_23_4_UE_CNT_RAT',
       'peak_time', 'peak_ratio', 'peak_min_diff', 'top2_gap', 'time_type',
       'UE_AMT_PER_TRSN_GRP', 'LOCAL_UE_CNT_RAT', 'RC_M12_MAL_CUS_CNT_RAT',
       'RC_M12_FME_CUS_CNT_RAT', 'RC_M12_AGE_UND_20_CUS_CNT_RAT',
       'RC_M12_AGE_30_CUS_CNT_RAT', 'RC_M12_AGE_40_CUS_CNT_RAT',
       'RC_M12_AGE_50_CUS_CNT_RAT', 'RC_M12_AGE_OVR_60_CUS_CNT_RAT',
       'main_age_group', 'age_entropy', 'young_ratio', 'old_ratio',
       'age_concentration', 'expected_age', 'MCT_TYPE', 'ADDR', 'WT',
       'NAVER_ADDR', 'PHONE', 'AMENITY', 'PAYMENT', 'BOSS_TIP', 'AUTH_CONTENT',
       'keywords', 'keywords_embeddings', 'original_type', 'wheelchair_access',
       'Closed', 'Latitude', 'Longitude', 'keyword', 'positive_keyword',
       'negative_keyword', 'UE_AMT_GRP_encoded', 'peak_day_금', 'peak_day_목',
       'peak_day_수', 'peak_day_월', 'peak_day_일', 'peak_day_토', 'peak_day_화',
       'day_type_encoded', 'peak_time_HR_12_13_UE_CNT_RAT',
       'peak_time_HR_14_17_UE_CNT_RAT', 'peak_time_HR_18_22_UE_CNT_RAT',
       'peak_time_HR_23_4_UE_CNT_RAT', 'peak_time_HR_5_11_UE_CNT_RAT',
       'time_type_야간', 'time_type_오전', 'time_type_오후', 'time_type_주간',
       'main_age_group_30', 'main_age_group_40', 'main_age_group_50',
       'main_age_group_OVR_60', 'main_age_group_UND_20'],
      dtype='object')

In [39]:
df

,id,placeID,MCT_NM,MCT_NAVER_NAME,UE_CNT_GRP,UE_AMT_GRP,MON_UE_CNT_RAT,TUE_UE_CNT_RAT,WED_UE_CNT_RAT,THU_UE_CNT_RAT,...,peak_time_HR_5_11_UE_CNT_RAT,time_type_야간,time_type_오전,time_type_오후,time_type_주간,main_age_group_30,main_age_group_40,main_age_group_50,main_age_group_OVR_60,main_age_group_UND_20
0,1,NaN,(사)한국수상레저안전협회 제주제주시지부,NaN,1_상위 10% 이하,1_상위 10% 이하,1.000000,0.000000,0.000000,0.000000,...,False,False,False,False,True,False,False,False,True,False
1,5,1.247913e+09,(주) 비케이알 버거킹 제주화북DT점,버거킹 제주화북DT점,6_90% 초과,5_75~90%,0.115321,0.125206,0.146623,0.148270,...,False,False,False,True,False,False,True,False,False,False
2,6,NaN,(주) 성우디엔에프,NaN,4_50~75%,2_10~25%,0.139785,0.129032,0.129032,0.236559,...,True,False,False,False,True,False,False,True,False,False
3,7,1.827123e+09,(주) 신세계푸드 제주신화월드 고래라면,고래라면 제주신화월드점,5_75~90%,4_50~75%,0.152174,0.086957,0.130435,0.079710,...,False,False,False,True,False,False,True,False,False,False
4,8,1.199772e+09,(주) 신세계푸드 제주신화월드 윤경양식당,윤경양식당 신화월드점,5_75~90%,5_75~90%,0.157692,0.092308,0.076923,0.111538,...,False,False,False,True,False,False,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5873,9244,1.575929e+09,희양양,NaN,3_25~50%,5_75~90%,0.184211,0.105263,0.131579,0.131579,...,False,False,False,True,False,False,False,True,False,False
5874,9248,1.996719e+09,히아담,히아담,3_25~50%,2_10~25%,0.096774,0.112903,0.209677,0.161290,...,False,False,False,False,True,False,True,False,False,False
5875,9250,1.762730e+09,히포파운드,NaN,4_50~75%,2_10~25%,0.185185,0.000000,0.000000,0.000000,...,False,False,False,False,True,False,False,False,False,True
5876,9251,3.216359e+07,힘찬장어,NaN,1_상위 10% 이하,1_상위 10% 이하,0.166667,0.000000,0.333333,0.000000,...,False,False,False,True,False,False,False,True,False,False
5877,9252,NaN,힛업,NaN,1_상위 10% 이하,3_25~50%,0.100000,0.100000,0.000000,0.100000,...,False,False,False,True,False,True,False,False,False,False

In [61]:
# 유일한 값(클래스) 리스트
unique_values = df['main_age_group'].unique()
print(unique_values)

['OVR_60' '40' '50' '30' 'UND_20']

In [62]:
# 직접 매핑
mapping = {
    'UND_20': 0,
    '30': 1,
    '40': 2,
    '50': 3,
    'OVR_60': 4
}

# 변환
df.loc[:, 'main_age_group_label'] = df['main_age_group'].map(mapping)

In [63]:
# 예시
move_cols = ['main_age_group_label']
target_col = 'time_type_주간'

df = move_columns_after(df, move_cols, target_col)

# MCT_TYPE

In [40]:
# 유일한 값(클래스) 리스트
unique_values = df['MCT_TYPE'].unique()
print(unique_values)

['분식/간편식' '양식' '기타 단품요리/특수요리' '한식' '육류구이/고기' '카페/디저트' '일식' '주점/술집' '해산물'
 '탕/찌개' '탕/국/면류' '중식' '동남아/아시아/기타 세계음식' '죽' '뷔페']

In [42]:
mapping = {
    '분식/간편식': 0,
    '양식': 1,
    '기타 단품요리/특수요리': 2,
    '한식': 3,
    '육류구이/고기': 4,
    '카페/디저트': 5,
    '일식': 6,
    '주점/술집': 7,
    '해산물': 8,
    '탕/찌개': 9,
    '탕/국/면류': 10,
    '중식': 11,
    '동남아/아시아/기타 세계음식': 12,
    '죽': 13,
    '뷔페': 14
}

df['MCT_TYPE_label'] = df['MCT_TYPE'].map(mapping)

In [43]:
df.columns

Index(['id', 'placeID', 'MCT_NM', 'MCT_NAVER_NAME', 'UE_CNT_GRP', 'UE_AMT_GRP',
       'MON_UE_CNT_RAT', 'TUE_UE_CNT_RAT', 'WED_UE_CNT_RAT', 'THU_UE_CNT_RAT',
       'FRI_UE_CNT_RAT', 'SAT_UE_CNT_RAT', 'SUN_UE_CNT_RAT', 'peak_day',
       'day_type', 'weekend_ratio', 'weekday_ratio', 'day_entropy', 'OP_YMD',
       'HR_5_11_UE_CNT_RAT', 'HR_12_13_UE_CNT_RAT', 'HR_14_17_UE_CNT_RAT',
       'HR_12_17_UE_CNT_RAT', 'HR_18_22_UE_CNT_RAT', 'HR_23_4_UE_CNT_RAT',
       'peak_time', 'peak_ratio', 'peak_min_diff', 'top2_gap', 'time_type',
       'UE_AMT_PER_TRSN_GRP', 'LOCAL_UE_CNT_RAT', 'RC_M12_MAL_CUS_CNT_RAT',
       'RC_M12_FME_CUS_CNT_RAT', 'RC_M12_AGE_UND_20_CUS_CNT_RAT',
       'RC_M12_AGE_30_CUS_CNT_RAT', 'RC_M12_AGE_40_CUS_CNT_RAT',
       'RC_M12_AGE_50_CUS_CNT_RAT', 'RC_M12_AGE_OVR_60_CUS_CNT_RAT',
       'main_age_group', 'age_entropy', 'young_ratio', 'old_ratio',
       'age_concentration', 'expected_age', 'MCT_TYPE', 'ADDR', 'WT',
       'NAVER_ADDR', 'PHONE', 'AMENITY', 'PAYMENT', 'BOSS_TIP', 'AUTH_CONTENT',
       'keywords', 'keywords_embeddings', 'original_type', 'wheelchair_access',
       'Closed', 'Latitude', 'Longitude', 'keyword', 'positive_keyword',
       'negative_keyword', 'UE_AMT_GRP_encoded', 'peak_day_금', 'peak_day_목',
       'peak_day_수', 'peak_day_월', 'peak_day_일', 'peak_day_토', 'peak_day_화',
       'day_type_encoded', 'peak_time_HR_12_13_UE_CNT_RAT',
       'peak_time_HR_14_17_UE_CNT_RAT', 'peak_time_HR_18_22_UE_CNT_RAT',
       'peak_time_HR_23_4_UE_CNT_RAT', 'peak_time_HR_5_11_UE_CNT_RAT',
       'time_type_야간', 'time_type_오전', 'time_type_오후', 'time_type_주간',
       'main_age_group_30', 'main_age_group_40', 'main_age_group_50',
       'main_age_group_OVR_60', 'main_age_group_UND_20', 'MCT_TYPE_label'],
      dtype='object')

In [44]:
# 원핫인코딩
dummies = pd.get_dummies(df['MCT_TYPE'], prefix='MCT_TYPE')

# 원래 df에 붙이기
df = pd.concat([df, dummies], axis=1)

In [45]:
df.columns

Index(['id', 'placeID', 'MCT_NM', 'MCT_NAVER_NAME', 'UE_CNT_GRP', 'UE_AMT_GRP',
       'MON_UE_CNT_RAT', 'TUE_UE_CNT_RAT', 'WED_UE_CNT_RAT', 'THU_UE_CNT_RAT',
       ...
       'MCT_TYPE_육류구이/고기', 'MCT_TYPE_일식', 'MCT_TYPE_주점/술집', 'MCT_TYPE_죽',
       'MCT_TYPE_중식', 'MCT_TYPE_카페/디저트', 'MCT_TYPE_탕/국/면류', 'MCT_TYPE_탕/찌개',
       'MCT_TYPE_한식', 'MCT_TYPE_해산물'],
      dtype='object', length=103)

In [46]:
print(df.columns)

Index(['id', 'placeID', 'MCT_NM', 'MCT_NAVER_NAME', 'UE_CNT_GRP', 'UE_AMT_GRP',
       'MON_UE_CNT_RAT', 'TUE_UE_CNT_RAT', 'WED_UE_CNT_RAT', 'THU_UE_CNT_RAT',
       ...
       'MCT_TYPE_육류구이/고기', 'MCT_TYPE_일식', 'MCT_TYPE_주점/술집', 'MCT_TYPE_죽',
       'MCT_TYPE_중식', 'MCT_TYPE_카페/디저트', 'MCT_TYPE_탕/국/면류', 'MCT_TYPE_탕/찌개',
       'MCT_TYPE_한식', 'MCT_TYPE_해산물'],
      dtype='object', length=103)

In [47]:
df.to_csv('encoded_jeju.csv', index=False)

In [64]:
df.to_csv('final_encoded_jeju.csv', index=False)

# 점검하기

In [65]:
# 예시
move_cols = ['peak_day_label']
target_col = 'peak_day_화'

df = move_columns_after(df, move_cols, target_col)

In [66]:
# 기존 컬럼명 ➔ 새 컬럼명 딕셔너리로 매핑
df = df.rename(columns={'day_type_encoded': 'day_type_encoded'})

In [68]:
# 예시
move_cols = ['time_type_label']
target_col = 'time_type_주간'

df = move_columns_after(df, move_cols, target_col)

In [69]:
# 예시
move_cols = ['main_age_group_label']
target_col = 'main_age_group_UND_20'

df = move_columns_after(df, move_cols, target_col)

In [70]:
# 예시
move_cols = ['MCT_TYPE_label']
target_col = 'MCT_TYPE_해산물'

df = move_columns_after(df, move_cols, target_col)

In [71]:
df.to_csv('final_encoded_jeju2.csv', index=False)

In [73]:
# 유일한 값(클래스) 리스트
unique_values = df['time_type_label'].unique()
print(unique_values)

[0 1 2 3]

In [74]:
# 유일한 값(클래스) 리스트
unique_values = df['main_age_group_label'].unique()
print(unique_values)

[4 2 3 1 0]

In [75]:
# 유일한 값(클래스) 리스트
unique_values = df['MCT_TYPE_label'].unique()
print(unique_values)

[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14]

In [3]:
df = pd.read_csv('encoded_jeju.csv')

In [4]:
df2 = pd.read_csv('real_final_store_with_cluster_with_id.csv')

In [5]:
df

,id,placeID,MCT_NM,MCT_NAVER_NAME,UE_CNT_GRP,UE_AMT_GRP,MON_UE_CNT_RAT,TUE_UE_CNT_RAT,WED_UE_CNT_RAT,THU_UE_CNT_RAT,...,MCT_TYPE_일식,MCT_TYPE_주점/술집,MCT_TYPE_죽,MCT_TYPE_중식,MCT_TYPE_카페/디저트,MCT_TYPE_탕/국/면류,MCT_TYPE_탕/찌개,MCT_TYPE_한식,MCT_TYPE_해산물,MCT_TYPE_label
0,1,NaN,(사)한국수상레저안전협회 제주제주시지부,NaN,1_상위 10% 이하,1_상위 10% 이하,1.000000,0.000000,0.000000,0.000000,...,False,False,False,False,False,False,False,False,False,0
1,5,1.247913e+09,(주) 비케이알 버거킹 제주화북DT점,버거킹 제주화북DT점,6_90% 초과,5_75~90%,0.115321,0.125206,0.146623,0.148270,...,False,False,False,False,False,False,False,False,False,1
2,6,NaN,(주) 성우디엔에프,NaN,4_50~75%,2_10~25%,0.139785,0.129032,0.129032,0.236559,...,False,False,False,False,False,False,False,False,False,2
3,7,1.827123e+09,(주) 신세계푸드 제주신화월드 고래라면,고래라면 제주신화월드점,5_75~90%,4_50~75%,0.152174,0.086957,0.130435,0.079710,...,False,False,False,False,False,False,False,False,False,0
4,8,1.199772e+09,(주) 신세계푸드 제주신화월드 윤경양식당,윤경양식당 신화월드점,5_75~90%,5_75~90%,0.157692,0.092308,0.076923,0.111538,...,False,False,False,False,False,False,False,False,False,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5873,9244,1.575929e+09,희양양,NaN,3_25~50%,5_75~90%,0.184211,0.105263,0.131579,0.131579,...,False,False,False,True,False,False,False,False,False,11
5874,9248,1.996719e+09,히아담,히아담,3_25~50%,2_10~25%,0.096774,0.112903,0.209677,0.161290,...,False,False,False,False,False,False,False,False,False,1
5875,9250,1.762730e+09,히포파운드,NaN,4_50~75%,2_10~25%,0.185185,0.000000,0.000000,0.000000,...,False,False,False,False,False,False,False,False,False,2
5876,9251,3.216359e+07,힘찬장어,NaN,1_상위 10% 이하,1_상위 10% 이하,0.166667,0.000000,0.333333,0.000000,...,False,False,False,False,False,False,False,False,False,2
5877,9252,NaN,힛업,NaN,1_상위 10% 이하,3_25~50%,0.100000,0.100000,0.000000,0.100000,...,False,False,False,False,False,False,False,False,False,1

In [6]:
df2

,placeID,MCT_NM,Latitude,Longitude,center_group
0,NaN,(사)한국수상레저안전협회 제주제주시지부,0.000000,0.000000,기타
1,1.247913e+09,(주) 비케이알 버거킹 제주화북DT점,33.517639,126.562626,화북-삼양
2,NaN,(주) 성우디엔에프,0.000000,0.000000,기타
3,1.827123e+09,(주) 신세계푸드 제주신화월드 고래라면,33.298845,126.290162,영어도시
4,1.199772e+09,(주) 신세계푸드 제주신화월드 윤경양식당,33.298845,126.290162,영어도시
...,...,...,...,...,...
5873,1.575929e+09,희양양,33.490591,126.491457,노형오거리
5874,1.996719e+09,히아담,33.476084,126.486324,노형오거리
5875,1.762730e+09,히포파운드,33.485546,126.460446,노형오거리
5876,3.216359e+07,힘찬장어,33.490559,126.492486,노형오거리
5877,NaN,힛업,33.486927,126.478014,노형오거리

In [8]:
# 유일한 값(클래스) 리스트
unique_values = df['placeID'].unique()
print(unique_values)

# 값별 개수(빈도수) 보기
value_counts = df['placeID'].value_counts()
print(value_counts)

[           nan 1.24791269e+09 1.82712299e+09 ... 1.99671924e+09
 1.76273041e+09 3.21635900e+07]
placeID
1.736498e+09    9
1.125202e+09    7
3.204238e+07    5
1.641801e+09    5
1.074231e+09    4
               ..
1.118022e+09    1
1.745273e+09    1
1.026510e+09    1
1.659080e+09    1
3.216359e+07    1
Name: count, Length: 4747, dtype: int64

In [9]:
len(df)

5878

In [10]:
len(df2)

5878

In [12]:
df2.columns = ['placeID2', 'MCT_NM2', 'Latitude2', 'Longitude2', 'center_group']

In [13]:
df2

,placeID2,MCT_NM2,Latitude2,Longitude2,center_group
0,NaN,(사)한국수상레저안전협회 제주제주시지부,0.000000,0.000000,기타
1,1.247913e+09,(주) 비케이알 버거킹 제주화북DT점,33.517639,126.562626,화북-삼양
2,NaN,(주) 성우디엔에프,0.000000,0.000000,기타
3,1.827123e+09,(주) 신세계푸드 제주신화월드 고래라면,33.298845,126.290162,영어도시
4,1.199772e+09,(주) 신세계푸드 제주신화월드 윤경양식당,33.298845,126.290162,영어도시
...,...,...,...,...,...
5873,1.575929e+09,희양양,33.490591,126.491457,노형오거리
5874,1.996719e+09,히아담,33.476084,126.486324,노형오거리
5875,1.762730e+09,히포파운드,33.485546,126.460446,노형오거리
5876,3.216359e+07,힘찬장어,33.490559,126.492486,노형오거리
5877,NaN,힛업,33.486927,126.478014,노형오거리

In [15]:
result = pd.concat([df, df2], axis=1)

In [17]:

def move_columns_after(df, move_cols, target_col):
    cols = df.columns.tolist()
    
    # 1. 옮길 컬럼 제거
    for col in move_cols:
        cols.remove(col)
    
    # 2. target_col 위치 찾기
    insert_idx = cols.index(target_col) + 1
    
    # 3. target_col 뒤에 move_cols 삽입
    new_cols = cols[:insert_idx] + move_cols + cols[insert_idx:]
    
    # 4. 재정렬된 DataFrame 반환
    return df[new_cols]
# 예시
move_cols = ['placeID2', 'MCT_NM2', 'Latitude2', 'Longitude2', 'center_group']
target_col = 'Longitude'

result = move_columns_after(result, move_cols, target_col)

In [18]:
result.to_csv('result.csv', index=False)

In [19]:
# 유일한 값(클래스) 리스트
unique_values = result['center_group'].unique()
print(unique_values)

# 값별 개수(빈도수) 보기
value_counts = result['center_group'].value_counts()
print(value_counts)

['기타' '화북-삼양' '영어도시' '시청' '월드컵경기장' '곽지' '중문' '노형오거리' '에코랜드' '용담' '한림항'
 '성산' '아라' '관광대' '중앙동' '오라동' '외도' '한림' '모슬포' '애월해안도로' '함덕' '신화테마파크'
 '표선해수욕장' '도두 해안도로' '민속마을' '번영로' '남원' '세화' '노을해안로' '산방산' '제대' '월정리' '북촌리'
 '신창' '신촌' '우도']
center_group
노형오거리      977
시청         773
기타         601
중앙동        445
용담         268
외도         225
화북-삼양      207
중문         195
월드컵경기장     192
아라         178
성산         168
함덕         153
오라동        141
한림항        108
한림         102
표선해수욕장      95
애월해안도로      94
산방산         93
모슬포         86
곽지          83
영어도시        83
도두 해안도로     82
세화          76
월정리         59
남원          57
우도          47
북촌리         38
제대          37
관광대         34
신화테마파크      31
신창          31
에코랜드        30
신촌          29
번영로         27
민속마을        23
노을해안로       10
Name: count, dtype: int64

In [21]:
len(unique_values)

36

In [22]:
result = result.drop(columns=['placeID2', 'MCT_NM2', 'Latitude2', 'Longitude2'])

In [24]:
from sklearn.preprocessing import LabelEncoder

# 1. 라벨 인코더 생성
le = LabelEncoder()

# 2. 'center_group' 컬럼 라벨 인코딩
result['center_group_label'] = le.fit_transform(result['center_group'])

# 3. 라벨 인코딩 매핑 확인
label_mapping = dict(zip(le.classes_, le.transform(le.classes_)))

# 4. 'center_group' 컬럼 바로 뒤에 새 컬럼 넣기
cols = result.columns.tolist()
center_idx = cols.index('center_group')
new_order = cols[:center_idx + 1] + ['center_group_label'] + cols[center_idx + 1:]
result = result[new_order]

# 5. 매핑 출력
print(label_mapping)

{'곽지': 0, '관광대': 1, '기타': 2, '남원': 3, '노을해안로': 4, '노형오거리': 5, '도두 해안도로': 6, '모슬포': 7, '민속마을': 8, '번영로': 9, '북촌리': 10, '산방산': 11, '성산': 12, '세화': 13, '시청': 14, '신창': 15, '신촌': 16, '신화테마파크': 17, '아라': 18, '애월해안도로': 19, '에코랜드': 20, '영어도시': 21, '오라동': 22, '외도': 23, '용담': 24, '우도': 25, '월드컵경기장': 26, '월정리': 27, '제대': 28, '중문': 29, '중앙동': 30, '표선해수욕장': 31, '한림': 32, '한림항': 33, '함덕': 34, '화북-삼양': 35}

In [25]:
result.columns

Index(['id', 'placeID', 'MCT_NM', 'MCT_NAVER_NAME', 'UE_CNT_GRP', 'UE_AMT_GRP',
       'MON_UE_CNT_RAT', 'TUE_UE_CNT_RAT', 'WED_UE_CNT_RAT', 'THU_UE_CNT_RAT',
       ...
       'MCT_TYPE_주점/술집', 'MCT_TYPE_죽', 'MCT_TYPE_중식', 'MCT_TYPE_카페/디저트',
       'MCT_TYPE_탕/국/면류', 'MCT_TYPE_탕/찌개', 'MCT_TYPE_한식', 'MCT_TYPE_해산물',
       'MCT_TYPE_label', 'center_group_label'],
      dtype='object', length=110)

In [26]:
# 현재 컬럼 순서 리스트
cols = result.columns.tolist()

# 'center_group' 컬럼 위치 찾기
center_idx = cols.index('center_group')

# 'center_group' 바로 뒤에 'center_group_label' 넣기
# 기존 center_group_label은 일단 빼고
cols.remove('center_group_label')
# 새로 삽입
new_order = cols[:center_idx + 1] + ['center_group_label'] + cols[center_idx + 1:]

# 새로운 순서로 재정렬
result = result[new_order]

In [27]:
result.to_csv('encoded_jeju.csv', index=False)