In [16]:
import sqlite3

In [1]:
! pip install sqlite3

ERROR: Could not find a version that satisfies the requirement sqlite3 (from versions: none)
ERROR: No matching distribution found for sqlite3

In [17]:
conn = sqlite3.connect('jeju.db')
cursor = conn.cursor()

In [18]:
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
tables = cursor.fetchall()

In [19]:
print(tables)  # [('table1',), ('table2',), ...]

[('Information',), ('Menu',), ('sqlite_sequence',), ('Parking',), ('Review',), ('Tour',)]

In [1]:
import pandas as pd

RuntimeError: module was compiled against NumPy C-API version 0x10 (NumPy 1.23) but the running NumPy has C-API version 0xf. Check the section C-API incompatibility at the Troubleshooting ImportError section at https://numpy.org/devdocs/user/troubleshooting-importerror.html#c-api-incompatibility for indications on how to solve this problem.

In [21]:
df1 = pd.read_sql("SELECT * FROM Information", conn)

In [15]:
df1 = pd.read_csv('encoded_jeju.csv')

In [16]:
columns_to_keep = [
    # 요일
    'MON_UE_CNT_RAT', 'TUE_UE_CNT_RAT', 'WED_UE_CNT_RAT', 'THU_UE_CNT_RAT', 'FRI_UE_CNT_RAT', 'SAT_UE_CNT_RAT', 'SUN_UE_CNT_RAT',
    'peak_day_label', 'day_type_encoded', 'weekday_ratio', 'weekend_ratio', 'day_entropy',

    # 시간
    'HR_5_11_UE_CNT_RAT', 'HR_12_13_UE_CNT_RAT', 'HR_14_17_UE_CNT_RAT', 'HR_18_22_UE_CNT_RAT', 'HR_23_4_UE_CNT_RAT',
    'peak_time_label', 'peak_ratio', 'peak_min_diff', 'top2_gap', 'time_type_label',

    # 현지인
    'LOCAL_UE_CNT_RAT',

    # 성별
    'RC_M12_MAL_CUS_CNT_RAT', 'RC_M12_FME_CUS_CNT_RAT',

    # 연령대
    'RC_M12_AGE_UND_20_CUS_CNT_RAT', 'RC_M12_AGE_30_CUS_CNT_RAT', 'RC_M12_AGE_40_CUS_CNT_RAT',
    'RC_M12_AGE_50_CUS_CNT_RAT', 'RC_M12_AGE_OVR_60_CUS_CNT_RAT', 'main_age_group_label',
    'age_entropy', 'young_ratio', 'old_ratio', 'age_concentration', 'expected_age',

    # 업종
    'MCT_TYPE_label',

    # 위치
    'Latitude', 'Longitude', 'center_group_label',

    # 종속변수
    'UE_AMT_GRP_encoded'
]

In [17]:
df_filtered = df1[columns_to_keep]

In [18]:
df_filtered

,MON_UE_CNT_RAT,TUE_UE_CNT_RAT,WED_UE_CNT_RAT,THU_UE_CNT_RAT,FRI_UE_CNT_RAT,SAT_UE_CNT_RAT,SUN_UE_CNT_RAT,peak_day_label,day_type_encoded,weekday_ratio,...,age_entropy,young_ratio,old_ratio,age_concentration,expected_age,MCT_TYPE_label,Latitude,Longitude,center_group_label,UE_AMT_GRP_encoded
0,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0,0,1.000000,...,1.277311,0.143,0.858,0.429,52.195,0,0.000000,0.000000,2,0
1,0.115321,0.125206,0.146623,0.148270,0.128501,0.197694,0.138386,5,1,0.535420,...,1.410924,0.474,0.527,0.350,35.965,1,33.517639,126.562626,35,4
2,0.139785,0.129032,0.129032,0.236559,0.204301,0.086022,0.075269,3,0,0.634409,...,1.470928,0.224,0.775,0.360,45.210,2,0.000000,0.000000,2,1
3,0.152174,0.086957,0.130435,0.079710,0.202899,0.173913,0.173913,4,1,0.449275,...,1.211353,0.362,0.638,0.504,37.810,0,33.298845,126.290162,21,3
4,0.157692,0.092308,0.076923,0.111538,0.157692,0.238462,0.165385,5,1,0.438462,...,1.161410,0.409,0.592,0.490,36.960,1,33.298845,126.290162,21,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5873,0.184211,0.105263,0.131579,0.131579,0.184211,0.052632,0.210526,6,1,0.552632,...,1.539460,0.344,0.655,0.268,41.410,11,33.490591,126.491457,5,4
5874,0.096774,0.112903,0.209677,0.161290,0.161290,0.258065,0.000000,5,0,0.580645,...,1.306873,0.487,0.514,0.406,35.045,1,33.476084,126.486324,5,1
5875,0.185185,0.000000,0.000000,0.000000,0.209877,0.407407,0.197531,5,1,0.185185,...,1.339306,0.718,0.281,0.361,30.725,2,33.485546,126.460446,5,1
5876,0.166667,0.000000,0.333333,0.000000,0.166667,0.166667,0.166667,2,1,0.500000,...,1.386514,0.185,0.815,0.439,45.055,2,33.490559,126.492486,5,0
5877,0.100000,0.100000,0.000000,0.100000,0.100000,0.500000,0.100000,5,1,0.300000,...,1.336739,0.695,0.303,0.420,31.870,1,33.486927,126.478014,5,2

In [19]:
from ydata_profiling import ProfileReport

In [20]:
# df가 분석할 데이터프레임이라고 가정
profile = ProfileReport(df_filtered, title="Specific_Jeju_Profiling Report", explorative=True)

# HTML 리포트로 저장
profile.to_file("Specific_Jeju_profiling_report.html")

/Users/phr/opt/anaconda3/lib/python3.9/site-packages/ydata_profiling/utils/dataframe.py:137: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns={"index": "df_index"}, inplace=True)

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]